// resources/scss/app-mobile.scss
@import 'bootstrap/scss/bootstrap';
@import 'swiper/css/bundle';

html, body {
  font-family: 'Baloo 2', sans-serif  !important;
    background-color: #f4f6f8;
  }
.xuong-2-dong {
  display: -webkit-box;
  -webkit-line-clamp: 2;     
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-mimi {
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    color: white;
  }
  .nut-xanh {
    background-color: #4ab3af !important;
    font-size: 1rem;
    border-radius: 100px !important;
    color: white !important;
    border: 1px solid #4ab3af !important;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 9rem;
    padding: 0.5rem 1rem;
  }
  .nut-vang {
    background-color: #ffba26 !important;
    font-size: 1rem;
    border-radius: 100px !important;
    color: white !important;
    border: 1px solid #ffba26 !important;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 9rem;
    padding: 0.5rem 1rem;
  }
  .nut-do {
    background-color: #b83232 !important;
    font-size: 1rem;
    border-radius: 100px !important;
    color: white !important;
    border: 1px solid #b83232 !important;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 9rem;
    padding: 0.5rem 1rem;
  }
  .nut-xanh-la {
    background-color: #3f9426 !important;
    font-size: 1.2rem;
    border-radius: 100px !important;
    color: white !important;
    border: 1px solid #3f9426 !important;
    &:hover {
      background-color: #86c273 !important;
  
    }
  }