.favorite-cont {
  padding-right: 4rem;
  padding-left: 4rem;


  .product-card {
    > a {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
    }
  
    .card-body {
      position: relative;
      overflow: hidden; 
  
      .xem-chi-tiet {
        display: block;
        transition: opacity 0.1s ease;
      }
  
      form {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.2s ease, opacity 0.2s ease;
      }
  
      &:hover {
        .xem-chi-tiet {
          display: none;
        }
  
        form {
          max-height: 1000px;
          opacity: 1;
        }
      }
    }
  }
  
  
  
  .option-items-show {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
  }

  /* Style cho mỗi option */
  .option-item-show {
    font-size: 0.8rem;
    justify-content: center;
    display: flex;
    width: 30%;
    padding: 0.25rem 0.75rem;
    border: 1px solid #4ab3af;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s, border-color 0.2s;
    align-items: center;
  }

  /* Hover để biết đang “chạm” vào */
  .option-item-show:hover {
    background-color: #bbe7e6;
    border-color:   #4ab3af;
  }

  /* Khi đã chọn */
  .option-item-show.selected {
    background-color: #4ab3af;
    border-color:   #4ab3af;
    color: white;
  }

  .list-san-pham {
    width: 20%;
    margin-bottom: 2rem;
    padding: 0 5px;
  }
  .btn-them-gio {
    background-color: #d1a029;
    border-radius: 100px;
    color: white;
    font-size: 1.1rem;
    &:hover {
      background-color: lighten(#d1a029,20%);
    }
  }
  .xem-chi-tiet {
    color: #b83232;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
    font-weight: 600;
  }
  .noi-chua-nut-favorites-2 {
    position: relative;
  
    .btn-favorite-2 {
      border: 0px solid #b83232;
      background-color: initial;
      position: absolute;
      right: 1rem;
      padding: 0;
      font-size: 1.5rem;
      color: #b83232;
    }
  }
    /* Đổi màu cho icon trái tim */
  .btn-fav-toggle i.fa-heart {
    color: #b83232 !important;
  }

}