.quan-ly-side-bar{
    position: sticky;
    top: 80px;                             
    height: calc(100vh - 80px);          
    width: 250px;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #eaeaea;
    z-index: 1;
    padding-top: 2rem;
    color: #4ab3af;
    &.scrolled {
        top: 0;                              
        height: 100vh;
      }


    .cha-va-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
    
    .sb-sidebar {
        overflow-y: auto;
        background: #fff;
        border-right: 1px solid #eaeaea;
    }
    
    .sb-list {
        list-style: none;
        margin: 0; padding: 0;
    }
    
    .sb-parent {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.6rem 1rem 0.6rem 0rem;
        border-bottom: 1px solid #f0f0f0;
        &:hover {
            cursor: pointer;
            color: lighten(#4ab3af,10%) 
        }
    }
    
    .sb-parent-label {
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .sb-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: .9rem;
        color: #4ab3af;
    }
    
    .sb-children {
        list-style: none;
        margin: 0; padding: 0;
        display: none;
    }
    
    .sb-children.sb-show {
        display: block;
    }
    
    .sb-child-item {
        padding: .4rem 1.5rem;
        border-bottom: 1px solid #f9f9f9;
    }
    
    .sb-child-item a {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        color: #7c283c;
        display: block;
        &:hover {
            color: lighten(#7c283c,20%) ;
        }
    }
    